<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>397151354130-er8boetrhvk35ng75p11dt1tqg6cvlkc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.397151354130-er8boetrhvk35ng75p11dt1tqg6cvlkc</string>
	<key>API_KEY</key>
	<string>AIzaSyCvtGO6bH5uEDW-B2T1dC1LG2aHPSgNyaw</string>
	<key>GCM_SENDER_ID</key>
	<string>397151354130</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.kappa.original</string>
	<key>PROJECT_ID</key>
	<string>original-85f92</string>
	<key>STORAGE_BUCKET</key>
	<string>original-85f92.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:397151354130:ios:319e0f67c3ba966f</string>
	<key>DATABASE_URL</key>
	<string>https://original-85f92.firebaseio.com</string>
</dict>
</plist>